

.custom-header
{
    background-color: #2368c4;
    color: white;
}
.modal-form
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form
{
    margin: 1.7% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fields
{
    display: flex;
    flex-direction: column;
}
.fields input
{
    text-align: center;
}
.inputs
{
    margin-left: 5%;
    padding-right: 10%;
    margin-bottom: 5%;
}
.inputs input
{
    margin-bottom: 22%;
}
.custom-header .close::before {
    color:white; /* Cambia el color a tu elección */
  }